<!-- Start Of Header -->
<section>
	<div class="header">
		<h2>Remote Config Todos</h2>
		@if (showButton()) {
		<button
			type="button"
			tabindex="1"
		>
			Sign In
		</button>
		}
	</div>
</section>
<!-- End Of Header -->

<!-- Start of Todos -->
<section>
	@if (showAddTodo()) {
	<form
		[formGroup]="todoForm"
		(ngSubmit)="addTodo()"
	>
		<input
			type="text"
			placeholder="New Task"
			formControlName="task"
			tabindex="1"
		/>
	</form>
	}

	<ul>
		@if (todos.length===0) { No todos available } @else { @for (todo of todos;
		track $index) {
		<li>{{ todo.name }}</li>
		} }
	</ul>
</section>
<!-- End of Todos -->
